################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/开发者工具/Win.Common/bin
/开发者工具/Win.Common/obj
/开发者工具/Win.DAL/bin
/开发者工具/Win.DAL/obj
/开发者工具/Win.Models/bin
/开发者工具/Win.Models/obj
/开发者工具/开发者工具/bin
/开发者工具/开发者工具/obj
/开发者工具/.vs
/开发者工具/packages
