using System.Data.Entity;
using ${ModelsPath};

namespace ${DalPath}
{
    /// <summary>
    /// 数据上下文
    /// </summary>
    public class AppDbContext : DbContext
    {
        public AppDbContext() : base("${Context}")
        {
        }
        ///// <summary>
        ///// 分享/兑换表数据上下文
        ///// </summary>
        //public IDbSet<Exchange> Exchanges { get; set; }
        
    }
}